@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.findPwModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;  
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.titleFindPw {
  font-size: 30px;
  margin: 0px;
}

.hrFindPw {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 40px;
}

.containerBtnFindPw {
  display: flex;  
  justify-content: space-evenly;
  width: 600px;
  margin-top: 20px; 
}

.btnSubmitFindPw {
  width: 45%;
  height: 100%;
  z-index: 1000;
  padding: 15px;
  margin: 2px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  background-color: rgb(126, 124, 124);
  color: aliceblue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.btnCloseFindPw {
  width: 45%;
  height: 100%;
  z-index: 1000;
  padding: 15px;
  margin: 2px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  background-color: #f0f0f0;
  color: black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.btnSubmitFindPw:hover, .btnCloseFindPw:hover {
  cursor: pointer;
}


.loginpagebg {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.photo {
  background: url('../../../asset/backgroudimage/firebase3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: contrast(70%);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.titlebium {
  margin-left: 10px;
  font-size: 40px;
  color: aliceblue;
  cursor: pointer;
}

.circle {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circlelogo {
  width: 130px;
  height: 130px;
  background: url('../../../asset/logoimage/biumlogo.png');
  background-size: cover;
}

.rightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-bottom: 8%;
}

.leftcontent {
  color: white;
  text-align: center;
  margin-bottom: 200px;
}

.leftcontent h3 {
  cursor: pointer;
  font-size: 35px;
  text-decoration: underline;
  font-family: 'GangwonEdu_OTFBoldA';
}

.leftcontent p {
  font-size: 25px;
  font-family: 'GangwonEdu_OTFBoldA';
}

.loginid,
.loginpassword,
.labelFindPw {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 30px;
}

.titlelogin {
  position: absolute;
  top: 20px;
  margin-left: 30px;
  transform: translateY(-60%);
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  width: 45%;
  font-size: 40px;
}

label {
  margin-top: 5%;
  margin-left: 13%;
}

.logininput {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
}

.buttoncontainer {
  display: flex;
  justify-content: space-evenly;
}

.loginbutton {
  font-size: 20px;
  padding: 15px 40px;
  background-color: rgb(126, 124, 124);
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 30%;
}

.cancelbutton {
  font-size: 20px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 30%;
}

.findpassword {
  display: flex;
  justify-content: flex-end;
  margin-right: 13%;
  margin-top: 50px;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}

.passwordinput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
