.containerItems {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  flex-wrap: wrap;
  padding: 5em 12em 5em 12em;
  background-color: #f7f7f7;
  height: 100vh;
}

.containerTitle {
  position: relative;
  background: url('../../../asset/backgroudimage/gameRoomListItemTest2.jpg');
  background-repeat: no-repeat;
  background-size: 120vw;
  background-position-y: center;
  background-attachment: local;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.title {
  flex: 2;
  justify-content: space-between;
}

.title h1 {
  display: inline-block;
  margin: 10%;
  margin-right: 0.5em;
  font-size: 50px;
  font-weight: 700;
}

.listItem {
  width: 21em;
  height: 17em;
  margin: 1.2em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.listItemThumbnail {
  background: url('../../../asset/backgroudimage/gameRoomListItemTest.jpg');
  background-size: cover;
  width: 21em;
  height: 7em;
  border-radius: 5px 5px 0 0;
  padding: 0;
  object-fit: cover;
}

.listItemContents {
  padding: 1em;
}

.listItem h3 {
  color: gray;
  margin: 0;
}

.listItem:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.BtnGameCreate {
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;

  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.BtnGameCreate:hover,
.BtnGameCreate:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.BtnGameCreate:hover {
  transform: translateY(-1px);
}

.BtnGameCreate:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.search {
  flex: 1;

  align-items: end;
  text-align: center;
}
.formBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__input {
  font-size: 20px;
  background-color: #f7f7f7;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  width: 14em;
  transition: all ease-in-out 0.5s;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #fff;
}

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:focus {
  background-color: #fff;
}

.search__button {
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.search__button:hover {
  cursor: pointer;
}
