.mainscroll {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.biumlogobutton {
  background: url('../../../asset/logoimage/biumlogo.png');
  position: absolute;
  top: 20px;
  left: 10px;
  height: 60px;
  width: 60px;
  filter: brightness(110%);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
