.rankingItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
}

.position {
  width: 18%;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nickname {
  width: 24%;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rank {
  width: 12%;
  height: 40px;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.topBium {
  width: 36%;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
