.rankingItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 700;
}

.position {
  width: 18%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nickname {
  width: 24%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rank {
  width: 12% ;
  text-align: center;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

.topBium {
  width: 36%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}