.videoBox {
  border-radius: 8px;
  box-shadow: 10px 10px 20px;
  margin: 10px 0px 20px;
  position: relative;
  top: 0;
}
.userVideos {
  display: flex;
  position: relative;
}
.disturbButton {
  display: flex;
  position: absolute;
  width: 75px;
  height: 30px;
  left: 10px;
  bottom: 10px;
  align-items: center;
  font-size: 13px;
  color: black;
  /* background: linear-gradient(to right, #dedede, #c3c2c4, #f8f8f9); */
  background-color: rgb(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
}
.disturbButton:hover {
  box-shadow: black 3px 3px 15px;
  background-color: rgb(255, 255, 255, 1);

  transition: 0.5s;
}
.disturbButton:not(:hover) {
  transition: 0.5s;
}
.rocketIcon {
  width: 13px;
  height: 13px;
}
.disturbButton .spanTag {
}
.disturbButton .iTag {
  margin-right: 3px;
  transform: rotate(-20deg);
  transition: 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.disturbButton:hover .spanTag {
  transition: 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.disturbButton:hover .iTag {
  transform: translateX(2px) rotate(35deg);
}

.disturbButton:hover .spanTag {
  transform: translateX(5px);
}
.disturbButton:not(:hover) .spanTag {
  transition: 0.5s;
}
