.rankingContainer {
  display: flex;
  flex-direction: row;
}

.rankingTitle > p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}

.myRanking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 700;
}

.catalog > span:nth-child(1) {
  width: 12vw;
  text-align: center;
}
.catalog > span:nth-child(2) {
  width: 16vw;
  text-align: center;
}
.catalog > span:nth-child(3) {
  width: 8vw;
  text-align: center;
}
.catalog > span:nth-child(4) {
  width: 24vw;
  text-align: center;
}

.myRanking > div:nth-child(1) {
  width: 12vw;
  text-align: center;
}
.myRanking > div:nth-child(2) {
  width: 16vw;
  text-align: center;
}
.myRanking > div:nth-child(3) {
  width: 8vw;
  text-align: center;
}
.myRanking > div:nth-child(4) {
  width: 24vw;
  text-align: center;
}