.rankingContainer {
  display: flex;
  flex-direction: row;
}

.rankingTitle > p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}

.myRanking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 700;
}

.rankingList {
  
}
