body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  width: 10%;
  background: rgba(0, 0, 0); /* 스크롤바의 색상 */

  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6); /*스크롤바 뒷 배경 색상*/
}
body::-webkit-resizer {
}
